*{
	margin: 0px;
	padding: 0px;
	color: brown;
	font-size: 32px;
}
#div_form{
	width: 30%;
	height: 400px;
	background-color:aquamarine;
	margin: 0 auto;
	margin-top: 180px;
	opacity: 0.5;	
	padding-left: 80px;			
}
input{
	border: none;
	margin-left: 15px;
	margin-top: 35px;
}
#registbtn{
	width: 120px;
	height: 45px;
	line-height: 45px;
	border-radius: 15px;
}
a{
	margin-left: 25px;
	font-size: 18px;
	text-decoration: none;
}
#registbtn:hover{
	cursor: pointer;
}
